<form [formGroup]="form_data" class="d-grid gap-3 m-3" (ngSubmit)="onClickSubmit(form_data.value)">
    <div class="form-group">
        <label>Person Name</label>
        <input [(ngModel)]="person.name" class="form-control" formControlName="name">
        <small class="invalid-feedback d-block" *ngIf="form_data.get('name')?.errors" >
            {{form_data.get('name')?.errors}}
        </small>
    </div>                   
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>