<div id="sidebar" class="collapse collapse-horizontal show border-end">
    <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
        <a routerLink="/report" type="button" class="btn btn-outline-primary m-3">
            <span>Check My infractions</span>
        </a>
        <a routerLink="/create-infraction" type="button" class="btn btn-outline-primary m-3">
            <span>Create infraction </span>
        </a>
        <a routerLink="/policeman-list" type="button" class="btn btn-outline-primary m-3">
            <span>Policemen </span>
        </a>
        <a routerLink="/person-list" type="button" class="btn btn-outline-primary m-3">
            <span>Persons </span>
        </a>
        <a routerLink="/vehicle-list" type="button" class="btn btn-outline-primary m-3">
            <span>Vehicle </span>
        </a>
    </div>
</div>