<form [formGroup]="form_data" class="d-grid gap-3 m-3" (ngSubmit)="onClickSubmit(form_data.value)">
    <ul>
        <li *ngFor="let error of errors">
            <small class="invalid-feedback d-block">
            {{error}}
            </small>
        </li>
    </ul>
    <div class="form-group">
        <label>Policeman Password</label>
        <input [(ngModel)]="credentials.password" class="form-control" formControlName="password" type="password">
        <small class="invalid-feedback d-block" *ngIf="form_data.get('password')?.errors" >
            {{form_data.get('password')?.errors}}
        </small>
    </div>
    <div class="form-group">
        <label>Policeman Confirm Password</label>
        <input [(ngModel)]="credentials.confirm_password" class="form-control" formControlName="confirm_password" type="password">
        <small class="invalid-feedback d-block" *ngIf="form_data.get('confirm_password')?.errors" >
            {{form_data.get('confirm_password')?.errors}}
        </small>
    </div>                   
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>